{% extends '_base.html' %}

{% block title %}
    ایمیل ارسال شد
{% endblock %}

{% block content %}
    <section class="container mx-auto p-3 text-center">
        <h2 class="mb-3">
            تغییر رمز عبور
        </h2>

        <form method="post" action="" class="p-3 rounded-3 bg-light">
          {% csrf_token %}
          <label>New Password:</label>
          <input type="password" name="password" required class="mb-3"><br>

          <label>Confirm Password:</label>
          <input type="password" name="confirm_password" required class="mb-3"><br>

          <button type="submit" class="btn bg-success bg-opacity-25">Reset Password</button>
        </form>

    </section>

{% endblock %}